@charset "utf-8";

#wrap{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    /* flex-flow: column nowrap; */
}

.info_section{
    width: 100%;
    background-color: #2eb841;
    border-bottom: 1px solid #1c6e27;
}

.info_list{
    display: flex;
}

.info_list li{
    width: 25%;
    text-align: center;
    /* border: 1px solid black; */
}

.info_list li a{
    display: block;
    padding: 15px 0;
    padding: 0.938rem 0;
}


/*헤더영역*/

.header{
    width: 100%;
    position: relative;
}

.logo{
    width: 100%;
    color: white;
    background-color: #2eb841;
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    text-shadow: 0px 1px 1px #666;
    line-height: 25px;
    text-transform: uppercase;
}

.nav{
    width: 100%;
}

.gnb{
    display: none;
}

.gnb li{
    background-color: #014111;
    display: flex;
}

.gnb li a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-size: 0.938rem;
    padding: 20px 0;
    padding: 1.25rem 0;

    text-indent: 20px;
    text-indent: 1.25rem;
}

.gnb li span{
    width: 20%;
    text-indent: -9999px;
    background: url("../images/s_images/sub_menu_toggle_btn.png") no-repeat;
    cursor: pointer;
}

.menu_toggle_btn{
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/s_images/menu_toggle_btn.png") no-repeat;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*슬라이드 영역*/

.slider_section{
    order: 3;
    width: 100%;
    height: 300px;
    background: url("../images/p_images/slider_01.jpg") no-repeat center center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_section span{
    width: 34px;
    height: 39px;
    text-indent: -9999px;
    cursor: pointer;
    background: url("../images/s_images/slider_arrow.png") no-repeat;
}

span.prev_btn{
    margin-left: -10px;
}

span.next_btn{
    margin-right: -10px;
    background-position: -34px 0;
}

.last_post_section{
    order: 4;
    width: 100%;
    background-color: rgb(233, 182, 13);
    text-shadow: 0px 1px 1px #333;
    color: white;
}

.popular_post_section{
    order: 5;
    width: 100%;
    background-color: #772f73;
    color: white;
    text-shadow: 0px 1px 1px #333;
}

.last_post_section, .popular_post_section{
    padding: 40px 12.5%;
}

.title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.last_post li, .popular_post li{
    margin-top: 15px;
    /* list-style: circle; */
    background: url("../images/s_images/post_circle_icon.png") no-repeat left center;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.last_post li:first-child, .popular_post li:first-child{
    margin-top: 0 !important;
}

.gallery_section{
    order: 6;
    padding: 50px 12.5%;
    text-align: center;
    background-color: #cc2154;
    color: white;
    text-shadow: 0px 1px 1px #333;
}

.gallery_section img{
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #333;
}

.gallery_list li:last-child{
    margin-top: 30px;
}

.gallery_list li figcaption{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.rankup_section{
    order: 7;
    padding: 40px 12.5%;
    background-color: #5a9bfc;
    text-shadow: 0px 1px 1px #333;
}

.rankup_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rankup_list li{
    width: 48%;
    margin-top: 15px;
}
.rankup_list li a{
    display: block;
    border: 1px solid white;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.rankup_list li:nth-child(1),
.rankup_list li:nth-child(2){
    margin-top: 0 !important;
}

/*배너 영역*/

.banner_section{
    order: 8;
}

.banner_box01{
    background-color: #a7e740;
}

.banner_box01 a{
    display: block;
    padding: 30px 0;
    text-align: center;
}

.banner_box02{
    background-color: #2ead22;
}

.banner_list{
    display: flex;
    justify-content: space-between;
    padding: 30px 12.5%;
}

/*sns 영역*/

.sns_section{
    order: 9;
    background-color: #fff;
    padding: 30px 12.5%;
}

.sns_list{
    display: flex;
    justify-content: space-between;
}

.footer{
    order: 10;
    width: 100%;
    background-color: #474747;
}

.footer p{
    padding: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 0px 1px 1px #191919;
    text-transform: uppercase;
}

/*태블릿용*/
@media screen and (min-width:768px) {
    #wrap{
        width: 90%;
    }

    .header{
        display: flex;
        flex-flow: row wrap;
    }

    .logo{
        position: absolute;
        left: 0;
        top: 0;
        width: 16%;
    }
}


/*PC용*/
@media screen and (min-width:960px) {
    
}